# Python / FastAPI

# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
